Repository pantheon-org/opencode-warcraft-notifications-plugin: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, markdownlint, eslint, typecheck, test

prettier:
  run: npx prettier --write "{staged_files}"

markdownlint:
  run: npx markdownlint-cli2 --fix "{staged_files}"

eslint:
  run: npx eslint --fix "{staged_files}"

typecheck:
  run: npm run type-check

test:
  run: bun test "{staged_files}"

chore(warcraft-plugin): remove redundant configuration files
  .markdownlint-cli2.jsonc
  .prettierignore
  .prettierrc
  lefthook.yml
Due: none

refactor(warcraft-plugin): migrate ESLint config from CommonJS to ESM
  eslint.config.cjs
  eslint.config.mjs
Due: none

docs(warcraft-plugin): improve documentation and remove placeholder text
  README.md
  package.json
  src/index.ts
Due: prettier, typecheck

chore(warcraft-plugin): update devDependencies to match workspace
  package.json
Due: none

fix(generators): resolve generator error and improve dependency management
  eslint.config.mjs
  package.json
  project.json
  src/index.ts
Due: prettier, typecheck

feat(plugins): regenerate warcraft-notifications plugin with fixed generator
  README.md
  package.json
  project.json
Due: none

docs(warcraft-notifications): add documentation infrastructure
  .prettierrc.json
  docs/README.md
  docs/api.md
  docs/development.md
  docs/troubleshooting.md
  docs/user-guide.md
  pages/.gitignore
  pages/astro.config.mjs
  pages/fix-links.js
  pages/generate-favicon.mjs
  pages/package.json
  pages/src/assets/logo-dark.svg
  pages/src/assets/logo-light.svg
  pages/src/assets/logo.svg
  pages/src/components/ASCIISiteTitle.astro
  pages/src/components/Header.astro
  pages/src/content/config.ts
  pages/src/styles/custom.css
  pages/test-links.js
  pages/transform-docs.js
Due: prettier, markdownlint, typecheck

chore(warcraft-notifications): update build configuration
  package.json
  project.json
  tsconfig.json
Due: none

refactor(docs): move documentation to .opencode/knowledge-base
  README.md
Due: none

feat: enhance release-please workflow with validation, verification, and docs deployment
  README.md
  pages/astro.config.mjs
  pages/package.json
  pages/src/assets/logo-dark.svg
  pages/src/assets/logo-light.svg
  pages/src/assets/logo.svg
  pages/src/components/ASCIISiteTitle.astro
  tsconfig.json
Due: prettier

refactor: eliminate duplicate workflow logic with reusable workflows and composite actions
  .github/.release-please-manifest.json
  .github/actions/setup-bun/action.yml
  .github/actions/setup-node-npm/action.yml
  .github/dependabot.yml
  .github/release-please-config.json
  .github/workflows/chores-pages.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/publish-on-tag.yml
  .github/workflows/release-and-publish.yml
  .github/workflows/reusable/reusable-deploy-docs.yml
  .github/workflows/reusable/reusable-npm-publish.yml
  .github/workflows/reusable/reusable-validate.yml
  .github/workflows/validate-pr.yml
  README.md
  package.json
  pages/astro.config.mjs
  pages/package.json
  pages/src/assets/logo-dark.svg
  pages/src/assets/logo-light.svg
  pages/src/assets/logo.svg
  pages/src/components/ASCIISiteTitle.astro
Due: prettier

ci: consolidate PR validation to root level
  .github/workflows/reusable/reusable-validate.yml
  .github/workflows/validate-pr.yml
Due: none

docs: add release process documentation
  tsconfig.json
Due: none

chore(pages): add bun lock file for documentation dependencies
  pages/bun.lock
Due: none

feat(warcraft-notifications): add event-based audio notification system
  README.md
  package.json
  src/index.ts
Due: prettier, typecheck

Path conditions:
  prettier: any of: **/*.{ts,tsx,js,jsx,json,md,css,scss,html}
  markdownlint: any of: **/*.md
  eslint: any of: src/**/*.{ts,tsx,js,jsx}
  typecheck: any of: **/*.{ts,tsx}
  test: any of: **/*.{spec.ts,spec.tsx,spec.js,spec.jsx,test.ts,test.tsx,test.js,test.jsx}
